@use 'helpers' as *;

.accordion {
	display: flex;
	flex-direction: column;
	gap: 0.625rem;

	// &__item {
	// 	border-bottom: var(--border); // Опционально: разделители
	// }

	&__header {
		display: inline-flex;
		justify-content: space-between;
		align-items: center;
		gap: 0.7rem;

		// width: 100%;
		padding: 1rem 0;

		// Стили текста
		font-size: var(--font-size-body-lg);
		font-weight: var(--font-medium);
		text-align: left;
		color: var(--black);
		background: none;
		border: none;
		cursor: pointer;
		transition: color 0.2s;

		@include hover {
			color: var(--black); // Цвет при наведении
		}
	}

	&__icon {
		flex-shrink: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 1.25rem;
		height: 1.25rem;
		transition: transform 0.3s ease;

		svg {
			width: 1.6rem;
			height: 1.6rem;
			fill: currentColor;
		}
	}

	&__content {
		overflow: hidden;

		/* Самое важное для анимации */
		max-height: 0;
		transition: max-height 0.3s cubic-bezier(0.4, 0, 0.2, 1);
		will-change: max-height;
	}

	&__body {
		padding-bottom: 1rem;
		font-size: var(--font-size-body);
		line-height: 1.5;
		color: var(--gray-600);

		a {
			text-decoration: underline;
			color: var(--black);
		}
	}

	&__item.is-active {
		.accordion__icon {
			transform: rotate(180deg);
		}

		/* max-height выставляется через JS, тут он не нужен */
	}
}
