@use 'helpers' as *;

.alert {
	margin: 2rem 0;
	padding: 0.5rem;
	font-size: var(--font-size-body-lg);
	border: 1px solid transparent;
	border-radius: var(--radius-sm);

	&-warning {
		color: var(--warning);
		background-color: #fcf8e3;
		border-color: #faebcc;
	}

	&-success {
		color: var(--success);
		background-color: #dff0d8;
		border-color: #d6e9c6;
	}
}

.label {
	flex: 1;
	padding: 0.6rem;
	font-size: var(--font-size-body);
	background-color: var(--white-100);
	border: 1px solid transparent;
	border-radius: var(--radius-sm);

	&-error {
		border-color: var(--error);
	}

	&-success {
		border-color: var(--success);
	}
}
