@use 'helpers' as *;

.badge {
	min-width: 1.25rem;
	height: 1.25rem;
	padding: 0.188rem 0.438rem;
	font-size: var(--font-size-small);
	font-weight: var(--font-medium);
	color: var(--black);
	background-color: var(--gray-400);
	border-radius: var(--radius);
}
