@use 'helpers' as *;

.counter {
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 2.4rem;
	background: var(--white-100);
	border-radius: var(--radius-sm);

	&__item {
		flex: 1;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: var(--font-size-body-lg);
		font-weight: 400;
		color: var(--gray-500);
		background: none;
		border: none;
		cursor: pointer;
		transition: background-color 0.2s;

		&:hover:not(.counter__number) {
			/* stylelint-disable-next-line scss/no-global-function-names */
			background-color: var(--white-100);
		}

		// Число по центру
		&.counter__number {
			font-weight: 700;
			color: var(--black);
			cursor: default;
		}
	}
}
