@use 'helpers' as *;

/* --- ВЫПАДАЮЩИЕ МЕНЮ (ОБЩЕЕ) --- */
.dropdown {
	position: absolute;
	z-index: 100;
	top: 100%;
	left: 0;
	visibility: hidden;
	opacity: 0;
	transition: all 0.2s ease-in-out;
	transform: translateY(10px);
}

.dropdown--right {
	right: 0;
	left: auto;
}

.main-menu__item:hover .dropdown {
	visibility: visible;
	opacity: 1;
	transform: translateY(0);
}

.dropdown-list {
	display: flex;
	flex-direction: column;

	& li {
		width: 206px;
		padding: 1rem;
		background-color: var(--white);
		border: var(--border);
		border-radius: var(--radius);

		&:not(:first-child) {
			border-top: none;
		}

		& a {
			font-size: var(--font-size-body-lg);
			text-decoration: none;
			color: var(--black);

			@include hover {
				font-weight: var(--font-medium);
			}
		}
	}
}

/* --- 2. MEGA MENU --- */
.dropdown--mega {
	right: 0;
	left: 0;
	width: 100%;
	padding: 2.5rem;
	background-color: var(--white);
	box-shadow: var(--shadow);
}

.mega {
	&-grid {
		--width: 370px;

		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(var(--width), 1fr));
		gap: 2rem;
	}

	&-item {
		display: flex;
		align-items: center;
		gap: 1rem;
		text-decoration: none;
		color: var(--black);
		transition: opacity 0.2s;

		@include hover {
			font-weight: var(--font-medium);
		}
	}

	&-img {
		flex-shrink: 0;
		width: 60px;
		height: 60px;

		& img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	&-title {
		font-size: var(--font-size-body-lg);
		line-height: 1.2;
	}
}

/* --- 3. DROPDOWN RIGHT --- - */
.dropdown-list__right {
	box-shadow: var(--shadow);

	& li {
		position: relative;
		width: 206px;
		padding: 0 1rem;
		background-color: var(--white);
		border: none;
		border-radius: initial;

		@include hover {
			background-color: var(--white-100);

			& .dropdown--mega {
				display: block !important;
				visibility: visible !important;
				opacity: 1 !important;
			}
		}

		& a {
			font-size: var(--font-size-body);
			font-weight: var(--font-medium);
			text-decoration: none;
			color: var(--black);

			@include hover {
				color: var(--black);
			}
		}
	}

	.dropdown--mega {
		position: absolute;
		top: 0 !important;
		right: 100% !important;
		left: auto !important;
		display: none;
		height: auto;
		padding: 0;
		visibility: hidden;
		opacity: 0;
	}

	.mega {
		&-grid {
			display: block;
			gap: 0;
			width: 206px;
		}

		&-item {
			width: 100%;
			padding: 0 1rem;
			background-color: var(--white);
			border: none;
			border-radius: initial;

			@include hover {
				background-color: var(--white-100);
			}
		}

		&-title,
		&-text {
			padding: 1rem 0;
			font-size: var(--font-size-body);
			font-weight: var(--font-medium);
			text-decoration: none;
			color: var(--black);

			@include hover {
				color: var(--black);
			}
		}

		&-img {
			display: none;
		}
	}
}
