@use 'helpers' as *;

.form {
	width: 100%;
	max-width: 35rem;
	margin: 0 auto;

	@include respond(xl) {
		max-width: 25rem;
	}

	&--wide {
		max-width: 100%;
		margin: 0;
	}

	&--narrow {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 3.5rem;
		max-width: none;

		& .form__hint {
			margin-top: 0.4rem;
		}

		@include respond(sm) {
			grid-template-columns: 1fr;
			align-items: center;
			gap: 0.3rem;
		}
	}

	&__body {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
	}

	&__row {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 2rem;

		@include respond(sm) {
			grid-template-columns: 1fr;
			align-items: center;
			gap: 0.4rem;
		}
	}

	&__item {
		position: relative;
	}

	&__hint {
		line-height: 1.3;
		color: var(--gray-500);
	}

	/* --- ВАЖНО: КОНТЕЙНЕР ПОЛЯ --- */
	&__field {
		position: relative;
	}

	/* --- ИСПРАВЛЕННАЯ ОШИБКА --- */
	&__error {
		position: absolute;
		z-index: 5;
		top: 0;
		right: 0;
		display: flex;
		align-items: center;
		padding-bottom: 4px;
		font-size: var(--font-size-body);
		line-height: 1;
		color: var(--error);
		visibility: hidden; /* Скрываем от скринридеров, пока нет ошибки */
		opacity: 0;
		transition:
			opacity 0.2s ease,
			visibility 0.2s;
		transform: translateY(-100%); /* Поднимаем НАД инпутом */
		pointer-events: none;
	}

	/* --- ИНПУТЫ --- */
	&__input {
		width: 100%;
		height: 42px;
		padding: 10px 16px;
		font-size: var(--font-size-body-lg);
		background-color: var(--white-100);
		border: var(--border);
		border-radius: var(--radius-sm);
		outline: none;
		transition:
			border-color 0.2s,
			box-shadow 0.2s;

		&.form__input_textarea {
			min-height: 120px;
			resize: vertical;
		}

		&:focus {
			border-color: var(--gray-600);
		}

		/* Состояние ошибки (красная рамка) */
		&._error {
			border-color: var(--error);

			// box-shadow: 0 0 0 1px var(--error);
		}
	}

	/* --- ЗАГРУЗКА ФАЙЛА --- */
	.file-upload {
		display: flex;
		align-items: center;
		gap: 10px;
		padding: 10px;
		font-size: var(--font-size-body);
		background: var(--white-100);
		border: var(--border-dark);
		border-radius: var(--radius-sm);
		cursor: pointer;

		&__input {
			display: none;
		}
	}

	.form__label {
		margin-bottom: 5px;
		font-size: var(--font-size-body);
		color: var(--gray-500);

		&--big {
			margin-bottom: 0.7rem;
			font-weight: 700;
			color: var(--black);
		}
	}

	&__icon-abs {
		position: absolute;
		z-index: 2;
		top: 50%;
		right: 1.2rem;
		width: 1.2rem;
		height: 1.2rem;
		cursor: pointer;
		transform: translateY(-50%);
		fill: var(--gray-500);
	}
}
