@use 'helpers' as *;

.left-menu {
	width: var(--aside-width);

	&__list {
		overflow: hidden;
		display: flex;
		flex-direction: column;
		background-color: var(--white);
		border: var(--border);
		border-radius: var(--radius);
	}

	&__item {
		&:not(:last-child) {
			border-bottom: var(--border);
		}
	}

	&__link {
		display: flex;
		align-items: center;
		width: 100%;
		padding: 1rem;
		font-weight: var(--font-medium);
		text-decoration: none;
		color: var(--black);
		transition:
			background-color 0.2s,
			color 0.2s;

		&--active {
			font-weight: var(--font-bold);
			background-color: var(--white-100);
			pointer-events: none;
		}

		@include hover {
			color: var(--gray-500);

			// background-color: var(--white-100);
		}
	}
}
