@use 'helpers' as *;

.scrollup {
	position: fixed;
	z-index: var(--z-tooltip);
	right: 2rem;
	bottom: -30%;
	display: inline-flex;
	padding: 0.5rem;
	background-color: var(--black);
	border-radius: var(--radius-sm);
	box-shadow: var(--shadow);
	opacity: 0.8;
	transition: 0.2s;

	@include hover {
		background-color: var(--black);
		opacity: 1;
	}

	&__icon {
		width: 1.5rem;
		height: 1.5rem;
		fill: #ffffff;
	}

	@include respond(xs) {
		right: 1rem;
	}
}

// Show Scroll Up
.show-scroll {
	bottom: 10rem;
}
