@use 'helpers' as *;

.size-options {
	&__wrapper {
		display: flex;
		flex-wrap: wrap;
		gap: 0.5rem;
		margin-top: 0.5rem;
	}

	span {
		font-size: var(--font-size-body);
		color: var(--gray-600); // Текст "Размер одежды..."
	}
}

.size-button {
	// flex: 1;
	padding: 0.5rem 0.75rem;
	font-size: var(--font-size-body);
	font-weight: 500;
	white-space: nowrap;
	text-align: center;
	color: var(--black);
	background-color: var(--white);
	border: var(--border);
	border-radius: var(--radius-sm);
	cursor: pointer;
	transition: all 0.2s;

	&:hover {
		border-color: var(--black);
	}

	// Активный выбранный размер
	&.active {
		color: var(--white);
		background-color: var(--black);
		border-color: var(--black);
	}
}
