@use 'helpers' as *;

.tooltip {
	position: absolute;
	z-index: var(--z-tooltip);
	top: 100%;
	left: 50%;
	margin-top: 0.5rem;
	white-space: nowrap;
	color: var(--white);
	background-color: var(--gray-600);
	border-radius: var(--radius);
	visibility: hidden;
	opacity: 0;
	transition:
		opacity var(--transition-duration) ease,
		visibility var(--transition-duration);
	transform: translateX(-50%);
	pointer-events: none;

	&::after {
		content: '';
		position: absolute;
		bottom: 100%;
		left: 0;
		width: 100%;
		height: 1rem;
		background-color: transparent;
	}

	&__wrapper {
		position: relative;
		display: inline-block;
		cursor: pointer;

		&:hover .tooltip {
			visibility: visible;
			opacity: 1;
			pointer-events: auto;
		}
	}
}

.tooltip-cart {
	right: 0;
	left: inherit;
	width: 33rem;
	margin-top: 1rem;
	padding: 2rem 0 0;
	background: var(--white);
	border-radius: var(--radius);
	box-shadow: var(--shadow);
	transform: inherit;
}
