@use 'helpers' as *;

.account {
	&__list {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(26rem, 1fr));
		gap: 1.25rem;

		@include respond(xl) {
			grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
		}

		@include respond(md) {
			grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
		}

		@include respond(sm) {
			grid-template-columns: repeat(auto-fill, minmax(7rem, 1fr));
		}
	}

	&__item {
		display: flex;
	}

	&__link {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 1.2rem;
		width: 100%;
		height: 100%;
		padding: 2rem;
		text-decoration: none;
		border: var(--border);
		border-radius: var(--radius-xl);
		transition: all 0.3s ease;

		@include hover {
			background: var(--white);
			border-color: transparent;
			box-shadow: var(--shadow);

			.account__link-icon {
				transform: scale(1.1);
				fill: var(--black);
			}
		}

		&-icon {
			width: 5rem;
			height: 5rem;
			transition:
				fill 0.3s ease,
				transform 0.3s ease;
			fill: var(--gray-400);

			@include respond(xl) {
				width: 3.8rem;
				height: 3.8rem;
			}
		}

		&-text {
			font-size: var(--font-size-body-lg);
			font-weight: var(--font-bold);
			text-align: center;
			text-transform: uppercase;
			color: var(--black);
		}
	}
}
