@use 'helpers' as *;

.cart-section {
	padding: 1.875rem;
	background: var(--white);
	border: var(--border);
	border-radius: var(--radius-xl);

	&__header {
		border-bottom: var(--border);
	}

	&__title {
		margin-bottom: 1.25rem;
		font-size: var(--font-size-h3);
		font-weight: var(--font-bold);
		color: var(--black);
	}
}

.cart-table {
	width: 100%;

	&__header {
		display: grid;
		grid-template-columns: 1fr 7.5rem 6rem 7.5rem 7.5rem;
		gap: 2rem;
		padding: 1rem 0;
		font-weight: var(--font-regular);
		color: var(--gray-400);
		border-top: var(--border);
		border-bottom: var(--border);

		@include respond(xl) {
			grid-template-columns: 1fr 6rem 6rem 6rem 6rem;
		}

		@include respond(md) {
			grid-template-columns: 1fr 5.2rem 5.2rem 5.2rem 5.2rem;
		}

		@include respond(sm) {
			display: none;
		}
	}
}

/* --- СТРОКА ТОВАРА --- */
.cart-item {
	display: grid;
	grid-template-columns: 1fr 7.5rem 6rem 7.5rem 7.5rem;
	align-items: center;
	gap: 2rem;
	padding: 1.5rem 0;

	@include respond(xl) {
		grid-template-columns: 1fr 6rem 6rem 6rem 6rem;
	}

	@include respond(md) {
		grid-template-columns: 1fr 5.2rem 5.2rem 5.2rem 5.2rem;
	}

	@include respond(sm) {
		display: flex;
		flex-direction: column;
	}

	&--border {
		border-bottom: var(--border);
	}

	&:last-child {
		border-bottom: none;
	}

	&__info {
		display: flex;
		gap: 2rem;
	}

	&__img {
		flex-shrink: 0;
		width: 5rem;
		height: 5rem;
		background-color: var(--white-100);

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__text {
		display: flex;
		flex-direction: column;
		gap: 0.8rem;
	}

	&__title {
		font-size: var(--font-size-body-lg);
	font-weight: var(--font-medium);
		line-height: 1.3;
		text-decoration: none;
		text-transform: uppercase;
		color: var(--black);

		@include hover {
			text-decoration: underline;
		}
	}

	&__meta {
		font-size: var(--font-size-body);
		color: var(--gray-400);
	}
}

.cart-col {
	font-size: var(--font-size-body-lg);
	color: var(--black);

	&--sum {
		font-weight: var(--font-bold);
	}
}

.cart-mobile-label {
	display: none;
}

@include respond(md) {
	.cart-item {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		gap: 0.5rem;
		margin-bottom: 1rem;
		padding: 1.25rem;
		border: var(--border);
		border-radius: var(--radius-lg);
	}

	.cart-item__info {
		margin-bottom: 0.625rem;
		padding-bottom: 0.625rem;
		border-bottom: var(--border);
	}

	.cart-col {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		width: 100%;
		font-size: var(--font-size-body);
	}

	/* Показываем подписи (Цена, Скидка и т.д.) */
	.cart-mobile-label {
		display: block;
		font-size: var(--font-size-body);
		color: var(--gray-500);
	}

	.cart-col--sum {
		justify-content: flex-end;
		font-size: var(--font-size-h3);
	}
}
