@use 'helpers' as *;

.checkout-page {
	display: grid;
	grid-template-columns: 1fr 23rem;
	align-items: start;
	gap: 2rem;

	@include respond(lg) {
		grid-template-columns: 1fr; // На мобильных одна колонка
	}
}

.checkout-content {
	display: flex;
	flex-direction: column;
	gap: 2.5rem;
}

.checkout {
	display: flex;
	flex-direction: column;
	gap: 2.5rem;

	&__head {
		margin-bottom: 1rem;
	}

	&__block {
		padding: 2rem;
		border: var(--border);
		border-radius: var(--radius-xl);

		@include respond(sm) {
			border: none;
			border-top: var(--border);
			border-bottom: var(--border);
			border-radius: 0;
		}
	}

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 1.875rem 1.5rem;
		border-bottom: var(--border);
	}

	&__clear {
		& svg {
			width: 1.5rem;
			height: 1.5rem;
			fill: currentColor;
		}
	}

	&__head {
		display: flex;
		align-items: center;
		gap: 2rem;
		padding-bottom: 0.5rem;

		& .button {
			min-width: auto;
			margin-left: auto;
			padding: 0.8rem 1.3rem;
		}
	}

	&__subtitle {
		font-size: var(--font-size-body-lg);
		font-weight: var(--font-bold);
		text-decoration: underline dotted;
		cursor: pointer;
	}
}

.checkout-list {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.checkout-product {
	position: relative;
	display: grid;
	grid-template-columns: 120px 1fr 100px 100px 50px;
	gap: 2rem;
	padding: 1.875rem;
	border-bottom: var(--border);

	@include respond(xl) {
		grid-template-columns: 115px 1fr 100px 100px 50px;
		gap: 1rem;
	}

	@include respond(sm) {
		grid-template-columns: 5rem 1fr;
	}

	&:last-child {
		padding-bottom: 0;
		border-bottom: none;
	}

	&__image {
		flex-shrink: 0;
		position: relative;
		overflow: hidden;
		width: 7.5rem;
		height: 8rem;
		background-color: var(--white-100);
		border-radius: var(--radius-sm);
		cursor: pointer;

		@include respond(xl) {
			width: 7rem;
		}

		@include respond(sm) {
			width: 5rem;
			height: 6rem;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: transform 0.3s ease;
		}

		@include hover {
			img {
				transform: scale(1.05);
			}

			.image-overlay {
				visibility: visible;
				opacity: 1;
			}
		}
	}

	&__info {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 0.5rem;

		// @include respond(sm) {
		// 	flex-shrink: 0;
		// }
	}

	&__title {
		font-size: var(--font-size-body-lg);
		font-weight: var(--font-bold);
		line-height: 1.3;
		text-decoration: none;
		text-transform: uppercase;
		color: var(--black);

		@include hover {
			text-decoration: underline;
		}
	}

	&__cost {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0.5rem;
		width: 100px;
	}

	&__options {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}

	&__sizes {
		display: flex;
		flex-wrap: wrap;
		gap: 0.5rem;
	}

	&__meta {
		display: flex;
		flex-direction: column;
	}

	&__label {
		font-size: var(--font-size-body);
		color: var(--gray-500);
	}

	&__value {
		font-size: var(--font-size-body);
		color: var(--black);
	}

	&__price-unit {
		font-size: var(--font-size-body);
		color: var(--gray-400);
	}

	&__total {
		min-width: 5.625rem;
		font-size: var(--font-size-h3);
		font-weight: var(--font-bold);
		white-space: nowrap;
		text-align: right;
		color: var(--black);
	}

	&__remove {
		margin-bottom: auto;
		margin-left: auto;
		color: var(--gray-400);
		background: transparent;
		border: none;
		cursor: pointer;
		transition: color 0.2s;

		svg {
			width: 1.5rem;
			height: 1.5rem;
			fill: currentColor;
		}

		@include hover {
			color: var(--error);
		}

		@include respond(sm) {
			position: absolute;
			top: 1.6rem;
			right: 1rem;
		}
	}
}

.image-overlay {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.6);
	visibility: hidden;
	opacity: 0;
	transition:
		opacity 0.3s ease,
		visibility 0.3s ease;

	&__icon {
		width: 1.5rem;
		height: 1.5rem;
		transition: transform 0.3s ease;
		transform: translateY(10px);
		fill: #3f3e3e; // Цвет иконки
	}
}

.checkout-product__image:hover .image-overlay__icon {
	transform: translateY(0);
}

.checkout-info {
	&__name {
		margin-bottom: 0.5rem;
		font-size: var(--font-size-body-lg);
		font-weight: var(--font-bold);
	}

	// &__list {}

	&__item {
		display: grid;
		grid-template-columns: 8.75rem 1fr;
		align-items: baseline;
		gap: 2.5rem;
	}

	&__label {
		color: var(--gray-500);
	}

	// &__value {}
}

.checkout-aside {
	max-height: min-content;
}

.checkout-summary {
	display: flex;
	flex-direction: column;
	gap: 1.2rem;
	margin-bottom: 1.2rem;
	padding: 1.875rem;
	border: var(--border);
	border-radius: var(--radius-xl);

	&__header {
		display: flex;
		justify-content: space-between;
		font-size: var(--font-size-body-lg);
		font-weight: var(--font-bold);
	}

	// &__total-label {}

	// &__total-price {}

	&__list {
		display: grid;
		gap: 0.4rem;
	}

	&__item {
		display: flex;
		justify-content: space-between;
		gap: 0.8rem;
		border-bottom: var(--border);
	}

	&__label {
		font-size: var(--font-size-small);
		color: var(--gray-500);
	}

	// &__value {}

	&__value--green {
		color: var(--success);
	}

	&__params {
		display: grid;
		gap: 0.8rem;
		font-weight: var(--font-bold);
	}

	&__row {
		display: flex;
		gap: 0.7rem;
	}

	// &__param-title {}

	&__param-value {
		text-decoration: underline dotted;
	}

	// &__btn {}

	&__agreement {
		color: var(--gray-500);

		& a {
			text-decoration: underline;
		}
	}
}

.checkout-card {
	margin: 2rem 0;

	&__items {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 2rem;

		@include respond(sm) {
			grid-template-columns: 1fr;
			gap: 1rem;
		}
	}

	&__options {
		display: grid;
		padding: 1.875rem;
		border: var(--border);
		border-radius: var(--radius-xl);

		& p {
			font-size: var(--font-size-small);
			color: var(--gray-500);
		}

		& .radio-checkbox__label {
			display: grid;
			grid-template-columns: 1fr 50px;
			align-items: self-start;
			margin-bottom: 2rem;
		}

		& .radio-checkbox__circle {
			margin-left: auto;
		}

		& .radio-checkbox__text {
			display: grid;
			gap: 0.5rem;

			& b {
				font-weight: var(--font-bold);
			}
		}
	}

	&__user {
		display: flex;
		justify-content: space-between;
		margin: 1.2rem 0;
		padding: 1.875rem;
		border: var(--border);
		border-radius: var(--radius-xl);

		&-label {
			flex-shrink: 0; // Чтобы кружок не сжимался
			width: 1.25rem;
			height: 1.25rem;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M4 8L7 11L12 5' stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
			background-position: center;
			background-size: 70%;
			background-repeat: no-repeat;
			background-color: var(--black);
			border: var(--border-dark);
			border-radius: 50%;
			transition: all 0.2s ease;
		}

		&-circle {
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M4 8L7 11L12 5' stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
			background-position: center;
			background-size: 70%;
			background-repeat: no-repeat;
			background-color: var(--black);
			border-color: var(--black);
		}
	}

	&__user-column {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 0.8rem;
	}

	&__user-title {
		font-size: var(--font-size-body-lg);
		font-weight: var(--font-bold);
	}

	&__user-text {
		color: var(--gray-500);
	}
}

.checkout__search {
	position: relative; // Для позиционирования выпадающего списка
	z-index: 10;
	margin: 2rem 0;

	&.hidden {
		display: none;
	}
}

.search-wrapper {
	position: relative;
	display: flex;
	gap: 0.625rem;
}

.search-input {
	flex-grow: 1; // Растягивается
}

.search-result {
	position: absolute;
	top: 100%;
	left: 0;
	display: none; // Скрыт пока нет ввода
	width: 100%;
	margin-top: 0.5rem;
	background: var(--white);
	border: var(--border);
	border-radius: 0 0 var(--radius) var(--radius);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);

	ul {
		overflow-y: auto;
		max-height: 12.5rem;
		margin: 0;
		padding: 0;
		list-style: none;
	}

	li {
		padding: 0.625rem 1.25rem;
		font-size: var(--font-size-body);
		cursor: pointer;
		transition: background 0.2s;

		&:hover {
			background-color: var(--white-100);
		}
	}
}

/* При фокусе на инпут показываем список (для примера) */
.search-input:focus ~ .search-result,
.search-result:hover {
	display: block;
}

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 2rem;

	@include respond(sm) {
		grid-template-columns: 1fr;
	}
}

.checkout-success {
	display: flex;
	flex-direction: column;
	gap: 1.2rem;
	font-size: var(--font-size-body-lg);

	&__text {
		& span,
		& a {
			font-weight: var(--font-bold);
		}
	}
}

.checkout-card-modal {
	& .modal__dialog {
		padding: 0;
		border-radius: var(--radius);
	}

	& .modal__content {
		min-width: 960px;

		@include respond(md) {
			min-width: initial;
		}
	}

	&__header {
		display: grid;
		gap: 2rem;
		padding: 30px;
	}

	&__title {
		font-size: var(--font-size-h1);
	}

	&__info {
		display: flex;
		align-items: center;
		gap: 4rem;
	}

	&__button {
		gap: 0.6rem;
		height: 2rem;
	}

	&__content {
		display: grid;
		grid-template-columns: 1fr 1fr;

		@include respond(md) {
			grid-template-columns: 1fr;
		}

		&-left,
		&-right {
			padding: 30px 40px;
			border-top: var(--border);
			border-bottom: var(--border);
		}

		&-left {
			min-width: 0;
			border-right: var(--border);

			& .product-slider {
				max-width: 400px;
			}
		}

		&-right {
			display: grid;
			gap: 1rem;
		}
	}

	&__characteristic {
		&-title {
			margin-bottom: 0.5rem;
			font-weight: var(--font-bold);
		}
	}
}
