@use 'helpers' as *;

.footer {
	padding: 4rem 0;
	color: var(--white);
	background-color: var(--black);

	&__main {
		display: flex;
		justify-content: space-between;
		gap: 2rem;
		margin-bottom: 4rem;

		@include respond(lg) {
			flex-direction: column;
			align-items: center;
			text-align: center;
		}
	}

	&__left {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;

		@include respond(lg) {
			align-items: center;
			text-align: center;
		}
	}

	&__right {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		gap: 2rem;
	}

	&__bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@include respond(lg) {
			flex-direction: column;
			align-items: center;
			gap: 2rem;
			text-align: center;
		}
	}
}

.footer-menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	justify-content: start;
	align-items: center;
	gap: 2rem;

	@include respond(md) {
		justify-content: center;
	}

	&__link {
		font-weight: var(--font-bold);
		text-decoration: none;
		text-transform: uppercase;

		@include hover {
			color: var(--gray-400);
		}
	}
}

.footer-socials {
	display: flex;
	gap: 1.2rem;
}

.footer-contacts {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	@include respond(lg) {
		align-items: center;
		text-align: center;
	}

	&__link {
		display: flex;
		align-items: center;
		gap: 0.3rem;
		font-size: var(--font-size-body-lg);

		& svg {
			margin-bottom: auto;
		}

		@include hover {
			color: var(--gray-600);

			svg {
				fill: var(--gray-600);
			}
		}
	}
}
