@use 'helpers' as *;

.history-item {
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
	width: 100%;
	margin-bottom: 1.5rem;
	padding: 2rem;
	background-color: var(--white);
	border: var(--border);
	border-radius: var(--radius);
	transition:
		border-color 0.2s,
		box-shadow 0.2s;

	@include hover {
		border-color: var(--black);
	}

	/* === ШАПКА === */
	&__header {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		gap: 1.25rem;

		@include respond(md) {
			flex-direction: column;
			gap: 0.625rem;
		}
	}

	&__info {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}

	&__title {
		font-size: var(--font-size-body-lg);
		font-weight: var(--font-medium);
		color: var(--black);
	}

	&__date {
		margin-left: 0.5rem;
		font-size: var(--font-size-body);
		font-weight: var(--font-regular);
		color: var(--gray-500);
	}

	&__desc {
		font-size: var(--font-size-body);
		color: var(--black);
	}

	&__price {
		font-weight: var(--font-medium);
		white-space: nowrap;
	}

	&__status {
		font-size: var(--font-size-body);
		text-align: right;
		color: var(--green);

		@include respond(md) {
			text-align: left;
		}
	}

	/* === ПОДВАЛ (КНОПКИ) === */
	&__footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 1rem;
		padding-top: 1rem;
		border-top: var(--border);

		@include respond(xs) {
			flex-direction: column;
			align-items: stretch; // Растянуть кнопки на всю ширину
			gap: 0.625rem;

			.button {
				width: 100%;
			}
		}
	}
}
