@forward 'top-bar';
@forward 'main-bar';
@forward 'bottom-nav';
@forward 'mobile-menu';
@forward 'logo';
@forward 'menu-burger';
@forward 'phone-block';
@forward 'search-block';
@forward 'social-circle';
@forward 'payment-icons';
@forward 'copyright';
@forward 'policy-link';
@forward 'user-actions';
@forward 'footer';
@forward 'mobile-search';
@forward 'cart';
@forward 'main-menu';
@forward 'catalog-main';
@forward 'brands-main';
@forward 'about-main';
@forward 'about-company';
@forward 'reviews-page';
@forward 'contacts-page';
@forward 'brands-page';
@forward 'catalog-page';
@forward 'favorite-page';
@forward 'product-card';
@forward 'product-card-line';
@forward 'product-grid';
@forward 'filter';
@forward 'mobile-filter';
@forward 'page-not-found';
@forward 'account';
@forward 'account-section';
@forward 'orders';
@forward 'order-canceled';
@forward 'cart-section';
@forward 'history-item';
@forward 'checkout';
@forward 'cart-page';
