@use 'helpers' as *;

/* --- Оверлей --- */
.menu-overlay {
	position: fixed;
	z-index: 99;
	inset: 0;
	background-color: var(--overlay);
	visibility: hidden;
	opacity: 0;
	transition: opacity var(--anim-speed);
}

.menu-overlay.active {
	visibility: visible;
	opacity: 1;
}

/* === ОСНОВНОЙ КОНТЕЙНЕР МЕНЮ === */
.menu {
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	width: var(--menu-width);
	max-width: 85vw;
	height: 100vh;
	background-color: var(--white);
	box-shadow: 5px 0 15px rgba(0, 0, 0, 0.05);
	transition: transform var(--anim-speed) cubic-bezier(0.25, 1, 0.5, 1);
	transform: translateX(-100%);
}

.menu.open {
	transform: translateX(0);
}

.menu__viewport {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

/* === ПАНЕЛИ (Экраны меню) === */
.menu__panel {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	overflow: hidden auto;
	width: 100%;
	height: 100%;
	background-color: var(--white);
	box-shadow: var(--shadow);
	visibility: hidden;
	transition:
		transform var(--anim-speed) ease,
		visibility var(--anim-speed);
	transform: translateX(100%);
}

.menu__panel.is-active {
	z-index: 2;
	visibility: visible;
	transform: translateX(0);
}

.menu__panel.is-left {
	z-index: 1;
	visibility: hidden;
	transform: translateX(-30%);
}

/* === СПИСКИ И ССЫЛКИ === */
.menu__list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.menu__item {
	border-bottom: var(--border);
}

/* Базовый стиль ссылки/кнопки */
.menu__link {
	display: flex;
	align-items: center;
	width: 100%;
	padding: 16px 20px;
	line-height: 1.4;
	text-align: left;
	text-decoration: none;
	color: var(--black);
	background: none;
	border: none;
	cursor: pointer;
	transition: background var(--anim-speed);
}

.menu__link:hover {
	background-color: var(--white-100);
}

/* Жирный текст в главном меню */
.menu__link b {
	font-weight: var(--font-bold);
}

/* Ссылка со стрелкой вправо */
.menu__link--forward {
	justify-content: space-between;
}

.menu__arrow-icon {
	font-size: var(--font-size-small);
	color: var(--gray-500);
}

/* Вторичный список (Корзина/Избранное) */
.menu__list--secondary {
	background-color: var(--white-100);
}

.menu__list--secondary .menu__link {
	@include hover {
		& svg {
			fill: currentColor;
		}
	}
}

.menu__start-icon {
	margin-right: 0.5rem;
}

/* Кружок с цифрой */
.menu__badge {
	margin-left: auto;
}

/* === ШАПКА ВЛОЖЕННЫХ ПАНЕЛЕЙ === */

/* Кнопка Назад */
.menu__panel-header {
	padding: 16px 20px;
	border-bottom: var(--border);
}

.menu__back {
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 0;
	font-size: var(--font-size-body);
	background: none;
	border: none;
	cursor: pointer;
}

/* Заголовок панели (Каталог, Женская одежда) */
.menu__panel-title {
	padding: 16px 20px;
	font-size: var(--font-size-body);
	font-weight: 700;
	text-transform: uppercase;
	background-color: var(--white-100);
	border-bottom: var(--border);
}

/* === БЛОКИ КОНТАКТОВ (Главная панель) === */
.menu__phone-block {
	display: flex;
	align-items: center;
	gap: 12px;
	padding: 20px;
	font-size: var(--font-size-body-lg);
	font-weight: 700;
	border-bottom: var(--border);
}

.menu__phone-block i {
	font-size: var(--font-size-body);
	color: #888888;
	transform: rotate(90deg);
}

.menu__contacts-block {
	padding: 25px 20px;
}

.menu__contacts-title {
	margin-bottom: 15px;
	font-size: var(--font-size-body);
	font-weight: 700;
}

.menu__contact-row {
	display: flex;
	gap: 12px;
	margin-bottom: 15px;
	font-size: var(--font-size-body);
	line-height: 1.4;
	color: #555555;
}

.menu__contact-row i {
	margin-top: 3px;
	font-size: var(--font-size-body);
	color: #888888;
}

/* Соцсети */
.menu__socials {
	display: flex;
	gap: 15px;
	margin-top: 25px;
}

.social-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 42px;
	height: 42px;
	font-size: var(--font-size-h3);
	text-decoration: none;
	color: white;
	border-radius: 50%;
	transition: opacity 0.3s;
}

.social-btn:hover {
	opacity: 0.8;
}

.telegram {
	background-color: #2aabee;
}

.whatsapp {
	background-color: #4caf50;
}
