@use 'helpers' as *;

.orders-group {
	&__title {
		margin-bottom: 1rem;
		font-size: var(--font-size-h2);
		font-weight: var(--font-bold);
	}

	&__line {
		margin-bottom: 2rem;
	}
}

.order-card {
	&__title {
		margin-bottom: 2rem;
		font-size: var(--font-size-h3);
		font-weight: var(--font-bold);
	}

	&__section {
		position: relative;
		overflow: hidden;
		margin-bottom: 2rem;
		padding: 2.5rem;
		background: var(--white);
		border: var(--border);
		border-radius: var(--radius-xl);
	}

	&__info {
		display: flex;
		gap: 1rem;
	}

	&__subtitle {
		margin-bottom: 0.625rem;
		font-size: var(--font-size-body-lg);
		font-weight: var(--font-bold);
	}

	&__text {
		margin-bottom: 0.5rem;
		font-size: var(--font-size-body-lg);
		line-height: 1.5;
	}

	&__footer {
		display: flex;
		gap: 1rem;
		margin-top: 1.2rem;
		padding-top: 1.2rem;

		@include respond(sm) {
			flex-direction: column;

			.ml-auto {
				margin-left: 0;
			}

			.button {
				width: 100%;
			}
		}
	}
}

.payment-overlay {
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
	display: none;
	width: 100%;
	height: 100%;
	padding: 2.5rem;
	background: var(--white);
	border-radius: inherit;
	opacity: 0;
	transition: all 0.3s ease;
	transform: translateY(10px);

	&.is-visible {
		display: block;
		opacity: 1;
		transform: translateY(0);
	}

	&__close {
		position: absolute;
		top: 1rem;
		right: 1rem;
		color: var(--gray-400);
		background: transparent;
		border: none;
		cursor: pointer;

		svg {
			width: 20px;
			height: 20px;
			fill: currentColor;
		}

		&:hover {
			color: var(--black);
		}
	}

	&__title {
		margin-bottom: 1.5rem;
		font-size: var(--font-size-body-lg);
		font-weight: var(--font-bold);
	}

	&__content {
		display: flex;
		flex-direction: column;
		gap: 0.8rem;
	}

	&__text {
		font-size: var(--font-size-body);
		line-height: 1.4;
	}

	&__sum {
		font-weight: var(--font-bold);
		white-space: nowrap;
	}
}

.order-summary {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1.2rem;
	padding: 1rem 0;
	border-bottom: var(--border);

	@include respond(xl) {
		gap: 1rem;
	}

	@include respond(sm) {
		grid-template-columns: 1fr;
	}

	&__item {
		display: flex;
		flex-direction: column;
		gap: 0.3rem;
	}

	&__label {
		line-height: 1.2;
		color: var(--gray-500);
	}

	&__value {
		font-size: var(--font-size-body);
		font-weight: var(--font-medium);
		line-height: 1.4;
		color: var(--black);
	}
}

.order-user {
	display: flex;
	flex-direction: column;
	gap: 0.1rem;

	&__label {
		line-height: 1.2;
	}

	&__value {
		font-size: var(--font-size-body-lg);
		line-height: 1.4;
		color: var(--black);
	}
}

.order-totals {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-top: 2rem;

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: baseline;
		gap: 2rem;
	}

	&__label {
		font-size: var(--font-size-body-lg);
		color: var(--gray-500);
	}

	&__value {
		font-size: var(--font-size-body-lg);
		font-weight: var(--font-medium);
		white-space: nowrap;
		color: var(--black);
	}

	/* === СТИЛИ ДЛЯ ИТОГО === */
	&__row--total {
		.order-totals__label,
		.order-totals__value {
			font-size: var(--font-size-h3);
			font-weight: var(--font-bold);
			color: var(--black);
		}
	}
}

.payment-switch {
	&__body {
		display: flex;
		gap: 0.5rem;

		@include respond(sm) {
			display: grid;
		}
	}
}
