@use 'helpers' as *;

.order-canceled {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	max-width: 31.25rem;

	&__title {
		font-size: var(--font-size-body-lg);
		font-weight: var(--font-bold);
		line-height: 1.3;
		color: var(--black);
	}

	&__number {
		white-space: nowrap;
	}

	&__text {
		color: var(--gray-500);
	}

	&__form {
		display: flex;
		flex-direction: column;
		gap: 1.25rem;
		margin-top: 0.5rem;
	}

	&__textarea {
		width: 100%;
		min-height: 6.25rem;
		padding: 1rem;
		font-family: inherit;
		font-size: var(--font-size-body);
		border: var(--border);
		border-radius: var(--radius-sm);
		resize: vertical;

		&:focus {
			border-color: var(--black);
			outline: none;
		}
	}

	&__buttons {
		display: flex;
		gap: 1rem;

		@include respond(xs) {
			flex-direction: column;

			.button {
				width: 100%;
			}
		}
	}
}
