@use 'helpers' as *;

.product-grid {
	&__list {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
		gap: 0.6rem;

		@include respond(xl) {
			grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
		}

		@include respond(md) {
			grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
		}

		@include respond(xs) {
			grid-template-columns: repeat(auto-fill, minmax(7rem, 1fr));
		}

		&--md {
			grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));

			@include respond(xl) {
				grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
			}
		}

		&--line {
			display: grid;
			grid-template-columns: auto;
			gap: 1rem;
		}
	}
}
