@use 'helpers' as *;

.product-card-line {
	display: grid;
	grid-template-columns: 250px 1fr 250px;
	gap: 1.5rem;
	padding: 1.3rem 1.5rem;
	border: var(--border);
	border-radius: var(--radius-lg);

	@include respond(md) {
		grid-template-columns: 215px 1fr 250px;
	}

	@include hover {
		box-shadow: var(--shadow);
	}

	&__image-box {
		display: grid;
	}

	&__button {
		gap: 0.5rem;
		height: 2rem;
		padding: 0.5rem 1rem;

		& svg {
			width: 1rem;
		}
	}

	&__info {
		display: grid;
		gap: 0.3rem;
		margin-bottom: 0.5rem;
	}

	&__content {
		display: flex;
		flex-direction: column;

		& .product-accordion {
			flex-grow: 1;
		}
	}

	&__quick-view {
		margin: 0 auto;
	}

	&__favorite {
		align-self: flex-start;
	}

	&__actions {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}
}

.params-list {
	display: flex;
	flex-direction: column;
	gap: 0.3rem;
	color: var(--black);
}

.product-accordion {
	.accordion__item {
		display: inline-flex;
		flex-direction: column-reverse;
		width: max-content;
	}

	.accordion__header {
		padding: 0;
	}

	.accordion__content {
		transform-origin: bottom;
	}

	.accordion__body {
		padding-top: 0;
		padding-bottom: 0.5rem;
	}

	.is-active .accordion__icon svg {
		transform: rotate(0deg);
	}
}
