@use 'helpers' as *;

.search-block {
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	margin: 1rem auto;
	border-bottom: var(--border);

	@include respond(lg) {
		flex-grow: initial;
		width: initial;
		border-bottom: transparent;
	}
}

.search-input-wrapper {
	flex-grow: 1;
}

.search-input {
	width: 100%;
	padding: 10px 0;
	font-size: var(--font-size-body);
	color: #333333;
	border: none;
	outline: none;

	@include respond(lg) {
		flex-grow: initial;
	}
}

.search-controls {
	display: flex;
	align-items: center;
	gap: 1rem;
}

/* --- ВЫБОР КАТЕГОРИИ (Dropdown) --- */
.search-scope {
	position: relative;
	font-size: var(--font-size-body);
	color: #555555;
	cursor: pointer;
	user-select: none;
}

.scope-current {
	display: flex;
	align-items: center;
	gap: 5px;
}

.scope-dropdown {
	position: absolute;
	z-index: 100;
	top: 100%;
	right: 0;
	display: none;
	width: 160px;
	margin: 10px 0 0;
	padding: 0;
	background: #ffffff;
	border: var(--border);
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
	list-style: none;
}

.search-scope.active .scope-dropdown {
	display: block;
}

.scope-dropdown li {
	padding: 10px 15px;
	color: #333333;
	transition: background 0.2s;
}

.scope-dropdown li:hover {
	background-color: #f5f5f5;
}

/* Кнопка поиска */
.search-btn {
	display: flex;
	padding: 0;
	background: none;
	border: none;
	cursor: pointer;
}

/* --- РЕЗУЛЬТАТЫ ПОИСКА  --- */
.search-results {
	position: absolute;
	z-index: 90;
	top: 100%; /* Прилипает к низу инпута */
	left: 0;
	overflow-y: auto;
	display: none; /* Скрыто пока нет ввода */
	width: 100%;
	max-height: 500px;
	background: #ffffff;
	border: var(--border);
	border-top: none;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
}

.search-results.show {
	display: block;
}

.search-item {
	display: flex;
	align-items: center;
	padding: 1rem;
	text-decoration: none;
	border-bottom: var(--border);
	cursor: pointer;
	transition: background 0.2s;
}

.search-item:hover {
	background-color: #fafafa;
}

.search-item-img {
	width: 60px;
	height: 60px;
	margin-right: 15px;
	background-color: #eeeeee;
	object-fit: cover;
}

.search-item-info {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.search-item-title {
	font-size: var(--font-size-body);
	text-transform: uppercase;
	color: #333333;
}

/* Жирный шрифт для совпадений */
.search-item-title b {
	font-weight: 700;
	color: #000000;
}

.search-item-price {
	font-size: var(--font-size-body);
	color: #666666;
}

.search-footer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 1.5rem 0;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	color: var(--black);
	background-color: transparent;
	border-color: transparent;
	border-radius: 0;

	&:hover {
		color: var(--white);
		background-color: var(--black);
	}
}
