<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />

<title>@@title</title>

<!-- SVG favicon for modern browsers. -->
<!-- <link rel="icon" type="image/svg+xml" href="img/favicons/favicon.svg" /> -->

<!-- Fonts preload -->
<link rel="preload" href="fonts/Montserrat-VariableFont_wght.woff2" as="font" type="font/woff2" crossorigin />
<!-- Css & JS -->
<script src="https://api-maps.yandex.ru/2.1/?apikey=10cf0165-42e9-4e3c-92ee-ee46aaef67c9&lang=ru_RU" type="text/javascript"></script>
<!-- Custom Css & JS -->
<link href="css/style.css" rel="stylesheet" />
<script src="js/index.bundle.js" defer></script>
