<div class="bottom-nav d-none d-lg-block">
	<div class="container">
		<nav class="main-menu" id="navContainer">
			<ul class="main-menu__list js-menu-list">
				<li class="main-menu__item">
					<a href="catalog.html" class="main-menu__link">КАТАЛОГ</a>

					<!-- dropdown -->
					<div class="dropdown dropdown--simple">
						<ul class="dropdown-list">
							<li><a href="catalog-page.html">Женская одежда</a></li>
							<li><a href="#">Мужская одежда</a></li>
							<li><a href="#">Женская обувь</a></li>
							<li><a href="#">Мужская обувь</a></li>
							<li><a href="#">Женские сумки</a></li>
							<li><a href="#">Мужские сумки</a></li>
							<li><a href="#">Детская одежда</a></li>
							<li><a href="#">Очки</a></li>
							<li><a href="#">Аксессуары</a></li>
							<li><a href="#">Распродажа</a></li>
						</ul>
					</div>
				</li>
				<li class="main-menu__item position-static">
					<a href="#" class="main-menu__link">ЖЕНСКАЯ ОДЕЖДА</a>

					<!-- mega dropdown -->
					<div class="dropdown dropdown--mega">
						<div class="mega-grid">
							<a href="#" class="mega-item">
								<div class="mega-img"><img src="images/dress.jpg" alt="" /></div>
								<div class="mega-text">
									<span class="mega-title">Верхняя одежда</span>
								</div>
							</a>

							<a href="#" class="mega-item">
								<div class="mega-img"><img src="images/dress.jpg" alt="" /></div>
								<div class="mega-text"><span class="mega-title">Платья</span></div>
							</a>

							<a href="#" class="mega-item">
								<div class="mega-img"><img src="images/dress.jpg" alt="" /></div>
								<div class="mega-text"><span class="mega-title">Брюки</span></div>
							</a>

							<a href="#" class="mega-item">
								<div class="mega-img"><img src="images/dress.jpg" alt="" /></div>
								<div class="mega-text"><span class="mega-title">Джинсы</span></div>
							</a>

							<a href="#" class="mega-item">
								<div class="mega-img"><img src="images/dress.jpg" alt="" /></div>
								<div class="mega-text"><span class="mega-title">Свитера</span></div>
							</a>

							<a href="#" class="mega-item">
								<div class="mega-img"><img src="images/dress.jpg" alt="" /></div>
								<div class="mega-text"><span class="mega-title">Юбки</span></div>
							</a>

							<a href="#" class="mega-item">
								<div class="mega-img"><img src="images/dress.jpg" alt="" /></div>
								<div class="mega-text"><span class="mega-title">Купальники</span></div>
							</a>

							<a href="#" class="mega-item">
								<div class="mega-img"><img src="images/dress.jpg" alt="" /></div>
								<div class="mega-text"><span class="mega-title">Спортивные костюмы</span></div>
							</a>
						</div>
					</div>
				</li>
				<li class="main-menu__item position-static"><a href="#" class="main-menu__link">МУЖСКАЯ ОДЕЖДА</a></li>
				<li class="main-menu__item position-static"><a href="#" class="main-menu__link">ЖЕНСКАЯ ОБУВЬ</a></li>
				<li class="main-menu__item position-static"><a href="#" class="main-menu__link">МУЖСКАЯ ОБУВЬ</a></li>
				<li class="main-menu__item position-static"><a href="#" class="main-menu__link">ЖЕНСКИЕ СУМКИ</a></li>
				<li class="main-menu__item position-static"><a href="#" class="main-menu__link">МУЖСКИЕ СУМКИ</a></li>
				<li class="main-menu__item position-static">
					<a href="#" class="main-menu__link">ДЕТСКАЯ ОДЕЖДА</a>

					<!-- mega dropdown -->
					<div class="dropdown dropdown--mega">
						<div class="mega-grid">
							<a href="#" class="mega-item">
								<div class="mega-img"><img src="images/dress.jpg" alt="" /></div>
								<div class="mega-text">
									<span class="mega-title">Одежда для девочек</span>
								</div>
							</a>

							<a href="#" class="mega-item">
								<div class="mega-img"><img src="images/dress.jpg" alt="" /></div>
								<div class="mega-text"><span class="mega-title">Одежда для мальчиков</span></div>
							</a>

							<a href="#" class="mega-item">
								<div class="mega-img"><img src="images/dress.jpg" alt="" /></div>
								<div class="mega-text"><span class="mega-title">Детская обувь</span></div>
							</a>

							<a href="#" class="mega-item">
								<div class="mega-img"><img src="images/dress.jpg" alt="" /></div>
								<div class="mega-text"><span class="mega-title">Головные уборы</span></div>
							</a>
						</div>
					</div>
				</li>
				<li class="main-menu__item position-static"><a href="#" class="main-menu__link">ОЧКИ</a></li>
				<li class="main-menu__item position-static">
					<a href="#" class="main-menu__link">АКСЕССУАРЫ</a>

					<!-- mega dropdown -->
					<div class="dropdown dropdown--mega">
						<div class="mega-grid">
							<a href="#" class="mega-item">
								<div class="mega-img"><img src="images/dress.jpg" alt="" /></div>
								<div class="mega-text">
									<span class="mega-title">Бижутерия</span>
								</div>
							</a>

							<a href="#" class="mega-item">
								<div class="mega-img"><img src="images/dress.jpg" alt="" /></div>
								<div class="mega-text"><span class="mega-title">Посуда</span></div>
							</a>

							<a href="#" class="mega-item">
								<div class="mega-img"><img src="images/dress.jpg" alt="" /></div>
								<div class="mega-text"><span class="mega-title">Часы</span></div>
							</a>
						</div>
					</div>
				</li>

				<li class="main-menu__item"><a href="#" class="main-menu__link">РАСПРОДАЖА</a></li>

				<li class="main-menu__item js-more-btn">
					<a href="#" class="main-menu__link more">
						<svg class="icon" width="17" height="3" viewBox="0 0 17 3" fill="none" xmlns="http://www.w3.org/2000/svg">
							<circle cx="1.5" cy="1.5" r="1.5" fill="white" />
							<circle cx="8.5" cy="1.5" r="1.5" fill="white" />
							<circle cx="15.5" cy="1.5" r="1.5" fill="white" />
						</svg>
					</a>

					<!--  -->
					<div class="dropdown dropdown--simple dropdown--right">
						<ul class="dropdown-list js-more-dropdown dropdown-list__right"></ul>
					</div>
				</li>
			</ul>
		</nav>
	</div>
</div>
<!-- /.bottom-nav -->
