<footer class="footer">
	<div class="container">
		<div class="footer__main">
			<div class="footer__left">
				<ul class="footer-menu">
					<li class="footer-menu__item"><a href="about.html" class="footer-menu__link">О НАС</a></li>
					<li class="footer-menu__item"><a href="payment.html" class="footer-menu__link">ОПЛАТА</a></li>
					<li class="footer-menu__item"><a href="delivery.html" class="footer-menu__link">ДОСТАВКА</a></li>
					<li class="footer-menu__item"><a href="brands.html" class="footer-menu__link">БРЕНДЫ</a></li>
					<li class="footer-menu__item"><a href="contacts.html" class="footer-menu__link">КОНТАКТЫ</a></li>
				</ul>
				<div class="footer-socials">
					<a href="https://t.me/yourchannel" class="social-circle social-circle-tg" target="_blank" rel="noopener" aria-label="Telegram">
						<svg class="icon icon-white">
							<use xlink:href="images/sprite.symbol.svg#telegram"></use>
						</svg>
					</a>
					<a href="https://wa.me/77777777777" class="social-circle social-circle-wa" target="_blank" rel="noopener" aria-label="WhatsApp">
						<svg class="icon icon-white">
							<use xlink:href="images/sprite.symbol.svg#whatsapp"></use>
						</svg>
					</a>
				</div>
			</div>
			<!--  -->
			<div class="footer__center">
				<ul class="footer-contacts">
					<li class="footer-contacts__item">
						<a href="tel:+77777777777" class="footer-contacts__link">
							<svg class="icon footer-contacts__icon">
								<use xlink:href="images/sprite.symbol.svg#phone"></use>
							</svg>

							+7 (777) 777-77-77
						</a>
					</li>
					<li class="footer-contacts__item">
						<a class="footer-contacts__link" href="mailto:info@bigpapabrand.com">
							<svg class="icon footer-contacts__icon">
								<use xlink:href="images/sprite.symbol.svg#email"></use>
							</svg>
							info@bigpapabrand.com
						</a>
					</li>
					<li class="footer-contacts__item">
						<address class="footer-contacts__link">
							<svg class="icon footer-contacts__icon">
								<use xlink:href="images/sprite.symbol.svg#map-pin"></use>
							</svg>
							г. Москва, улица Садовая-Кудринская, д. 25
						</address>
					</li>
				</ul>
			</div>
			<!--  -->
			<div class="footer__right">
				<a href="https://t.me/yourchannel" class="button telegram-btn" target="_blank" rel="noopener">Все новинки в Telegram</a>

				<a href="policy.html" class="policy-link">
					<svg class="icon policy-icon">
						<use xlink:href="images/sprite.symbol.svg#file-paper"></use>
					</svg>
					Политика конфиденциальности
				</a>
			</div>
		</div>
		<!--  -->
		<div class="footer__bottom">
			<div class="copyright">2025 &copy; OBLACKO RAI - интернет-магазин брендовой одежды</div>
			<ul class="payment-icons">
				<li class="payment-icons__item">
					<img class="payment-icons__img" src="images/payments/cash.svg" alt="Оплата наличными" width="28" height="28" loading="lazy" />
				</li>
				<li class="payment-icons__item">
					<img class="payment-icons__img" src="images/payments/mastercard.svg" alt="MasterCard" width="28" height="28" loading="lazy" />
				</li>
				<li class="payment-icons__item">
					<img class="payment-icons__img" src="images/payments/visa.svg" alt="Visa" width="40" height="11" loading="lazy" />
				</li>
				<li class="payment-icons__item">
					<img class="payment-icons__img" src="images/payments/sber.svg" alt="Сбербанк Онлайн" width="28" height="28" loading="lazy" />
				</li>
				<li class="payment-icons__item">
					<img class="payment-icons__img" src="images/payments/alfa.svg" alt="Альфа-Банк" width="28" height="28" loading="lazy" />
				</li>
				<li class="payment-icons__item">
					<img class="payment-icons__img" src="images/payments/peace.svg" alt="Мир" width="40" height="11" loading="lazy" />
				</li>
			</ul>
		</div>
		<!--  -->
	</div>
</footer>
