<div class="mobile-filter js-mobile-filter">
	<div class="mobile-filter__overlay js-mobile-filter-close"></div>

	<div class="mobile-filter__content">
		<div class="mobile-filter__header">
			<h3 class="mobile-filter__title">
				<svg class="icon mobile-filter__icon"><use xlink:href="images/sprite.symbol.svg#filter"></use></svg>
				ФИЛЬТР
			</h3>
			<button type="button" class="mobile-filter__close js-mobile-filter-close">
				<svg class="icon"><use xlink:href="images/sprite.symbol.svg#close"></use></svg>
			</button>
		</div>

		<div class="mobile-filter__body">
			<div class="filter-dropdowns filter-dropdowns--mobile">
				<div class="filter-group js-filter-group">
					<button type="button" class="filter-btn js-filter-btn">
						<span>Сортировка</span>
						<svg class="icon"><use xlink:href="images/sprite.symbol.svg#arrow-down-fill"></use></svg>
					</button>
					<!--  -->
					<div class="filter-dropdown">
						<div class="filter-group js-filter-group sort-inner-wrapper">
							<button type="button" class="sort-btn js-filter-btn">
								<span class="js-sort-text">По умолчанию (убывание)</span>
								<svg class="icon"><use xlink:href="images/sprite.symbol.svg#arrow-down-fill"></use></svg>
							</button>

							<div class="filter-dropdown">
								<ul class="sort-list">
									<li class="sort-list__item is-active">По популярности (убывание)</li>
									<li class="sort-list__item">По популярности (возрастание)</li>
									<li class="sort-list__item">По алфавиту (убывание)</li>
									<li class="sort-list__item">По алфавиту (возрастание)</li>
									<li class="sort-list__item">По цене (возрастание)</li>
									<li class="sort-list__item">По цене (убывание)</li>
								</ul>
							</div>
						</div>
						<!--  -->
					</div>
				</div>

				<div class="filter-group js-filter-group">
					<button type="button" class="filter-btn js-filter-btn">
						<span>Цена</span>
						<svg class="icon"><use xlink:href="images/sprite.symbol.svg#arrow-down-fill"></use></svg>
					</button>
					<div class="filter-dropdown">
						<div class="filter-dropdown__body">
							<div class="price-title">Цена</div>
							<div class="price-inputs">
								<input type="text" class="form__input" placeholder="7500" />
								<input type="text" class="form__input" placeholder="571500" />
							</div>
						</div>
					</div>
				</div>
				<!--  -->

				<div class="filter-group js-filter-group">
					<button type="button" class="filter-btn js-filter-btn">
						<span>Бренд</span>
						<svg class="icon"><use xlink:href="images/sprite.symbol.svg#arrow-down-fill"></use></svg>
					</button>
					<div class="filter-dropdown">
						<div class="filter-dropdown__body">
							<ul class="filter-list">
								<li>
									<label class="checkbox-filter">
										<input type="checkbox" class="checkbox-filter__input" />
										<span class="checkbox-filter__box"></span>
										<span class="checkbox-filter__text">ACNE STUDIO <span class="checkbox-filter__count">(52)</span></span>
									</label>
								</li>
								<li>
									<label class="checkbox-filter">
										<input type="checkbox" class="checkbox-filter__input" />
										<span class="checkbox-filter__box"></span>
										<span class="checkbox-filter__text">ACNE STUDIO <span class="checkbox-filter__count">(52)</span></span>
									</label>
								</li>
								<li>
									<label class="checkbox-filter">
										<input type="checkbox" class="checkbox-filter__input" />
										<span class="checkbox-filter__box"></span>
										<span class="checkbox-filter__text">ACNE STUDIO <span class="checkbox-filter__count">(52)</span></span>
									</label>
								</li>
								<li>
									<label class="checkbox-filter">
										<input type="checkbox" class="checkbox-filter__input" />
										<span class="checkbox-filter__box"></span>
										<span class="checkbox-filter__text">ACNE STUDIO <span class="checkbox-filter__count">(52)</span></span>
									</label>
								</li>
							</ul>

							<button type="button" class="filter-list__button">Показать все</button>
						</div>
					</div>
				</div>
				<!--  -->
				<div class="filter-group js-filter-group">
					<button type="button" class="filter-btn js-filter-btn">
						<span>Вид одежды</span>
						<svg class="icon"><use xlink:href="images/sprite.symbol.svg#arrow-down-fill"></use></svg>
					</button>
					<div class="filter-dropdown">
						<div class="filter-dropdown__body">
							<div class="price-title">Вид одежды</div>
						</div>
					</div>
				</div>
				<!--  -->
				<div class="filter-group js-filter-group">
					<button type="button" class="filter-btn js-filter-btn">
						<span>Размер</span>
						<svg class="icon"><use xlink:href="images/sprite.symbol.svg#arrow-down-fill"></use></svg>
					</button>
					<div class="filter-dropdown">
						<div class="filter-dropdown__body">
							<div class="price-title">Размер</div>
						</div>
					</div>
				</div>
				<!--  -->
				<div class="filter-group js-filter-group">
					<button type="button" class="filter-btn js-filter-btn">
						<span>Материал</span>
						<svg class="icon"><use xlink:href="images/sprite.symbol.svg#arrow-down-fill"></use></svg>
					</button>
					<div class="filter-dropdown">
						<div class="filter-dropdown__body">
							<div class="price-title">Материал</div>
						</div>
					</div>
				</div>
				<!--  -->
				<div class="filter-group js-filter-group">
					<button type="button" class="filter-btn js-filter-btn">
						<span>Размер обуви</span>
						<svg class="icon"><use xlink:href="images/sprite.symbol.svg#arrow-down-fill"></use></svg>
					</button>
					<div class="filter-dropdown">
						<div class="filter-dropdown__body">
							<div class="price-title">Размер обуви</div>
						</div>
					</div>
				</div>
				<!--  -->
				<div class="filter-group js-filter-group">
					<button type="button" class="filter-btn js-filter-btn">
						<span>Размер одежды</span>
						<svg class="icon"><use xlink:href="images/sprite.symbol.svg#arrow-down-fill"></use></svg>
					</button>
					<div class="filter-dropdown">
						<div class="filter-dropdown__body">
							<div class="price-title">Размер одежды</div>
						</div>
					</div>
				</div>
				<!--  -->
				<div class="filter-group js-filter-group">
					<button type="button" class="filter-btn js-filter-btn">
						<span>Размер ремня</span>
						<svg class="icon"><use xlink:href="images/sprite.symbol.svg#arrow-down-fill"></use></svg>
					</button>
					<div class="filter-dropdown">
						<div class="filter-dropdown__body">
							<div class="price-title">Размер ремня</div>
						</div>
					</div>
				</div>
				<!--  -->
			</div>
		</div>

		<div class="mobile-filter__footer">
			<button type="button" class="button button--w100 js-mobile-filter-close">ПОКАЗАТЬ</button>
		</div>
	</div>
</div>
