<div class="menu-overlay" id="menuOverlay"></div>

<nav class="menu" id="mainMenu">
	<div class="menu__viewport">
		<div class="menu__panel" data-title="main">
			<ul class="menu__list">
				<li class="menu__item">
					<button class="menu__link menu__link--forward" data-target="catalog">
						<b>Каталог</b>
						<span class="menu__arrow-icon">▸</span>
					</button>
				</li>
				<li class="menu__item">
					<button class="menu__link menu__link--forward" data-target="about">
						<b>О нас</b>
						<span class="menu__arrow-icon">▸</span>
					</button>
				</li>
				<li class="menu__item">
					<a href="delivery.html" class="menu__link"><b>Доставка</b></a>
				</li>
				<li class="menu__item">
					<a href="payment.html" class="menu__link"><b>Оплата</b></a>
				</li>
				<li class="menu__item">
					<a href="brands.html" class="menu__link"><b>Бренды</b></a>
				</li>
				<li class="menu__item">
					<a href="contacts.html" class="menu__link"><b>Контакты</b></a>
				</li>
			</ul>

			<ul class="menu__list menu__list--secondary">
				<li class="menu__item">
					<a href="cart.html" class="menu__link">
						<svg class="icon menu__start-icon">
							<use xlink:href="images/sprite.symbol.svg#shopping-cart"></use>
						</svg>
						Корзина
						<span class="menu__badge badge">0</span>
					</a>
				</li>
				<li class="menu__item">
					<a href="favorite.html" class="menu__link">
						<svg class="icon menu__start-icon">
							<use xlink:href="images/sprite.symbol.svg#heart"></use>
						</svg>
						Избранные товары
						<span class="menu__badge badge">100</span>
					</a>
				</li>
				<li class="menu__item">
					<a href="tel:79150556052" class="menu__link">
						<svg class="icon menu__start-icon">
							<use xlink:href="images/sprite.symbol.svg#phone"></use>
						</svg>
						+ 7 (915) 055-60-52
					</a>
				</li>
			</ul>

			<div class="menu__contacts-block">
				<div class="menu__contacts-title">Контактная информация</div>
				<div class="menu__contact-row">
					<svg class="icon">
						<use xlink:href="images/sprite.symbol.svg#map-pin"></use>
					</svg>
					<span>г. Москва, улица Садовая-Кудринская, д. 25</span>
				</div>
				<div class="menu__contact-row">
					<svg class="icon">
						<use
							xlink:href="images/sprite.symbol.svg#email
						"
						></use>
					</svg>
					<a href="mailto:info@bigpapa.ru">info@bigpapa.ru</a>
				</div>

				<div class="menu__socials">
					<a href="#" class="social-btn telegram">
						<svg class="icon icon-white">
							<use xlink:href="images/sprite.symbol.svg#telegram"></use>
						</svg>
					</a>
					<a href="#" class="social-btn whatsapp">
						<svg class="icon icon-white">
							<use xlink:href="images/sprite.symbol.svg#whatsapp"></use></svg
					></a>
				</div>
			</div>
		</div>

		<div class="menu__panel" data-title="catalog">
			<div class="menu__panel-header">
				<button class="menu__back">
					<svg class="icon">
						<use xlink:href="images/sprite.symbol.svg#arrow-left-long"></use>
					</svg>
					Назад
				</button>
			</div>

			<div class="menu__panel-title">Каталог</div>

			<ul class="menu__list">
				<li class="menu__item">
					<button class="menu__link menu__link--forward" data-target="women">
						ЖЕНСКАЯ ОДЕЖДА
						<span class="menu__arrow-icon">▸</span>
					</button>
				</li>
				<li class="menu__item">
					<button class="menu__link menu__link--forward" data-target="men">
						МУЖСКАЯ ОДЕЖДА
						<span class="menu__arrow-icon">▸</span>
					</button>
				</li>
				<li class="menu__item">
					<button class="menu__link menu__link--forward">
						ЖЕНСКАЯ ОБУВЬ
						<span class="menu__arrow-icon">▸</span>
					</button>
				</li>
				<li class="menu__item">
					<button class="menu__link menu__link--forward">
						МУЖСКАЯ ОБУВЬ
						<span class="menu__arrow-icon">▸</span>
					</button>
				</li>
				<li class="menu__item">
					<button class="menu__link menu__link--forward">
						ЖЕНСКИЕ СУМКИ
						<span class="menu__arrow-icon">▸</span>
					</button>
				</li>
				<li class="menu__item">
					<button class="menu__link menu__link--forward">
						МУЖСКИЕ СУМКИ
						<span class="menu__arrow-icon">▸</span>
					</button>
				</li>
				<li class="menu__item">
					<button class="menu__link menu__link--forward">
						ДЕТСКАЯ ОДЕЖДА
						<span class="menu__arrow-icon">▸</span>
					</button>
				</li>
				<li class="menu__item">
					<a href="#" class="menu__link">ОЧКИ</a>
				</li>
				<li class="menu__item">
					<button class="menu__link menu__link--forward">
						АКСЕССУАРЫ
						<span class="menu__arrow-icon">▸</span>
					</button>
				</li>
				<li class="menu__item">
					<button class="menu__link menu__link--forward">
						SALE
						<span class="menu__arrow-icon">▸</span>
					</button>
				</li>
			</ul>
		</div>

		<div class="menu__panel" data-title="women">
			<div class="menu__panel-header">
				<button class="menu__back">
					<svg class="icon">
						<use xlink:href="images/sprite.symbol.svg#arrow-left-long"></use>
					</svg>
					Назад
				</button>
			</div>
			<div class="menu__panel-title">ЖЕНСКАЯ ОДЕЖДА</div>

			<ul class="menu__list">
				<li class="menu__item"><a href="#" class="menu__link">Верхняя одежда</a></li>
				<li class="menu__item"><a href="#" class="menu__link">Платья</a></li>
				<li class="menu__item"><a href="#" class="menu__link">Брюки</a></li>
				<li class="menu__item"><a href="#" class="menu__link">Джинсы</a></li>
				<li class="menu__item"><a href="#" class="menu__link">Свитера</a></li>
				<li class="menu__item"><a href="#" class="menu__link">Юбки</a></li>
				<li class="menu__item"><a href="#" class="menu__link">Купальники</a></li>
				<li class="menu__item"><a href="#" class="menu__link">Спортивные костюмы</a></li>
				<li class="menu__item"><a href="#" class="menu__link">Костюмы</a></li>
				<li class="menu__item"><a href="#" class="menu__link">Футболки</a></li>
				<li class="menu__item"><a href="#" class="menu__link">Пиджаки</a></li>
				<li class="menu__item"><a href="#" class="menu__link">Рубашки</a></li>
				<li class="menu__item"><a href="#" class="menu__link">Ремни</a></li>
				<li class="menu__item"><a href="#" class="menu__link">Шарфы</a></li>
				<li class="menu__item"><a href="#" class="menu__link">Головные уборы</a></li>
				<li class="menu__item"><a href="#" class="menu__link">Шорты</a></li>
			</ul>
		</div>

		<div class="menu__panel" data-title="about">
			<div class="menu__panel-header">
				<button class="menu__back">
					<svg class="icon">
						<use xlink:href="images/sprite.symbol.svg#arrow-left-long"></use>
					</svg>
					Назад
				</button>
			</div>
			<div class="menu__panel-title">О нас</div>
			<ul class="menu__list">
				<li class="menu__item"><a href="reviews.html" class="menu__link">Отзывы</a></li>
				<li class="menu__item"><a href="contacts.html" class="menu__link">Контакты</a></li>
			</ul>
		</div>
	</div>
</nav>
