<div class="product-slider js-slider-root product-slider--arrows-side" data-slider-type="product">
	<div class="product-slider__main">
		<button type="button" class="product-slider__btn product-slider__btn--prev js-slider-prev">
			<svg class="icon"><use xlink:href="images/sprite.symbol.svg#arrow-left"></use></svg>
		</button>
		<button type="button" class="product-slider__btn product-slider__btn--next js-slider-next">
			<svg class="icon"><use xlink:href="images/sprite.symbol.svg#arrow-right"></use></svg>
		</button>

		<div class="swiper js-swiper-container">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<img src="images/big-1.jpg" alt="" />
				</div>
				<div class="swiper-slide">
					<img src="images/big-2.jpg" alt="" />
				</div>
			</div>
		</div>
	</div>

	<div class="product-slider__thumbs swiper js-swiper-thumbs">
		<div class="swiper-wrapper">
			<div class="swiper-slide product-slider__thumb-slide">
				<img src="images/small-1.jpg" alt="" />
			</div>
			<div class="swiper-slide product-slider__thumb-slide">
				<img src="images/small-2.jpg" alt="" />
			</div>
		</div>
	</div>
</div>
