<div class="cart-empty">
	<div class="cart-empty__img">
		<svg class="icon cart-empty__icon">
			<use xlink:href="images/sprite.symbol.svg#shopping-cart"></use>
		</svg>
	</div>
	<div class="cart-empty__info">
		<h3 class="cart-empty__title">Ваша корзина пуста</h3>
		<p class="cart-empty__text">
			Исправить это просто: выберите в каталоге интересующий <br />
			товар и нажмите кнопку «В корзину».
		</p>
	</div>
	<a class="button cart-empty__button" href="catalog.html">перейти в каталог</a>
</div>
