<div class="top-bar d-none d-lg-block">
	<div class="container">
		<ul class="top-menu__list">
			<li class="top-menu__item"><a href="about.html" class="top-menu__link">О нас</a></li>
			<li class="top-menu__item"><a href="payment.html" class="top-menu__link">Оплата</a></li>
			<li class="top-menu__item"><a href="delivery.html" class="top-menu__link">Доставка</a></li>
			<li class="top-menu__item"><a href="brands.html" class="top-menu__link">Бренды</a></li>
			<li class="top-menu__item"><a href="contacts.html" class="top-menu__link">Контакты</a></li>
		</ul>
	</div>
</div>
<!-- /.top-bar -->
