:root {
	--container-width: 1700px;
	--menu-width: 320px;
	--aside-width: 19rem;
	--swiper-pagination-color: var(--black);

	/*  Colors  */
	--black: #3f3e3e; // --osnovnye-chernyy

	--white: #ffffff; // --osnovnye-belyy
	--white-100: #f6f6f6; // --dop-belyy-fon

	--gray-400: #b6b5b5; // --dop-seryy-tekst
	--gray-500: #a1a1a1; // --dop-seryy-obvodka
	--gray-600: #777777; // --dop-seryy-heder

	--telegram: #0088cc;
	--whatsapp: #25d366;

	--error: #ff5858;
	--warning: #f9cc00;
	--success: #36c905;

	--gold: #c09853;

	--overlay: rgba(0, 0, 0, 0.7);

	/*  Font and typography  */
	--font-family-base: 'Montserrat', sans-serif;

	--font-size-h1: clamp(1.5rem, 1.32rem + 0.75vw, 2rem); // 32px
	--font-size-h2: clamp(1.25rem, 1.14rem + 0.47vw, 1.5625rem); // 25px
	--font-size-h3: clamp(1.125rem, 1.08rem + 0.19vw, 1.25rem); // 20px
	--font-size-body-lg: clamp(0.875rem, 0.83rem + 0.19vw, 1rem); // 16px
	--font-size-body: clamp(0.75rem, 0.73rem + 0.09vw, 0.8125rem); // 13px
	--font-size-small: 0.625rem; // 10px

	--font-light: 300;
	--font-regular: 400;
	--font-medium: 500;
	--font-bold: 700;

	/* z index  */
	--z-tooltip: 10;
	--z-fixed: 100;
	--z-modal: 1000;

	/* Others */
	--shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.5);

	--border: 1px solid var(--gray-500);
	--border-dark: 1px solid var(--black);

	--radius-sm: 4px;
	--radius: 10px;
	--radius-lg: 16px;
	--radius-xl: 20px;

	--anim-speed: 0.35s;
	--transition-base: 0.3s ease;
}
